<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>login-page</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>invalid.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServerlet</display-name>
    <servlet-name>LoginServerlet</servlet-name>
    <servlet-class>controller.LoginServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServerlet</servlet-name>
    <url-pattern>/LoginServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServerlet</display-name>
    <servlet-name>LogoutServerlet</servlet-name>
    <servlet-class>controller.LogoutServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServerlet</servlet-name>
    <url-pattern>/LogoutServerlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/userprofile.jsp</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>Userprofile</display-name>
    <servlet-name>Userprofile</servlet-name>
    <servlet-class>controller.Userprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userprofile</servlet-name>
    <url-pattern>/Userprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServerlet</display-name>
    <servlet-name>logoutServerlet</servlet-name>
    <servlet-class>controller.logoutServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServerlet</servlet-name>
    <url-pattern>/logoutServerlet</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServerlet</display-name>
    <servlet-name>RegisterServerlet</servlet-name>
    <servlet-class>controller.RegisterServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServerlet</servlet-name>
    <url-pattern>/RegisterServerlet</url-pattern>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdataeSeverlet</display-name>
    <servlet-name>UpdataeSeverlet</servlet-name>
    <servlet-class>controller.UpdataeSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataeSeverlet</servlet-name>
    <url-pattern>/UpdataeSeverlet</url-pattern>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPhotoServerlet</display-name>
    <servlet-name>UploadPhotoServerlet</servlet-name>
    <servlet-class>controller.UploadPhotoServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhotoServerlet</servlet-name>
    <url-pattern>/UploadPhotoServerlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout> <!-- Session timeout in minutes -->
</session-config>

</web-app>